@charset "UTF-8";

BODY{
   font-size: 9pt;
   color: black;
   line-height: 160%;
}

TD{
   font-size: 9pt;
   color: black;
   line-height: 160%;
}

SELECT{
   font-size: 9pt;
   color: black;
   line-height: 160%;
}

DIV{
   font-size: 9pt;
   color: black;
   line-height: 160%;
}

FORM{
   font-size: 9pt;
   color: black;
   line-height: 160%;
}